*{
  margin: 0px;
}
header{
  position: relative;
  background-image: url(./Assets/backgound\ main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  background-color: lightgray;
  /* opacity: 0.9; */
}
.navbar{
  height: 90px;
  opacity: 0.4;
  position: sticky;
  top: 0;
  background-color: #0f273e;
}
nav a{
  color: white;
  font-size: 24px;
  float:right;
  margin:20px 80px 0px 10px;
  text-align: center;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}
a:active{
  color: #b10;
}
a:hover{
  background-color:#f5f5f5;
  color:#b10;
}
#grievin{
  color:rgb(209, 198, 47) ;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 70px;
  font-family:  'Ubuntu', sans-serif;
  margin-top:30vh ;
} 
.grievin>p{
  color:rgb(209, 198, 47) ;
  font-family: 'Ubuntu', sans-serif;
  margin:3% 30%;
  font-size: 24px;
}
.button{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: #0f273e;;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  margin: 0% 40%;
  /* cursor: pointer; */
}
#portfolio{
  background-color: #f5f5f5;
}

.portfolio h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  text-align: center;
}
.portfolio p{
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
}
.cards{
  float
}












