html{
  scroll-behavior: smooth;
}
*{
  margin: 0px;
  position: relative;
  box-sizing: border-box;
}
header{
  position: relative;
  background-image: url(./Assets/backgound\ main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  background-color: #f5f5f5;
  /* opacity: 0.9; */
}
.navbar{
  height: 60px;
  opacity: 0.4;
  position: sticky;
  top: 0;
  background-color: #0f273e;
}
nav{
  position: sticky;
}
nav a{
  float: right;
  color: white;
  font-size: 24px;
  margin-right: 5rem;
  text-align: center;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 10px;
}
a:active{
  color: #b10;
}
a:hover{
  background-color:#f5f5f5;
  color:#b10;
  /* text-transform: capitalize; */
}
.grievin{
  display: flex;
  justify-content: center;
}
#grievin{
  color:white;
  margin-top: 30vh;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 70px;
  font-family:  'Ubuntu', sans-serif;
  
 
} 
.grievin>p{
  margin-top:20px;
  display: inline-block;
  text-align: center;
  color: white;
  text-shadow: #0f273e;
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  line-height: 40px;
}
.button {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: #0f273e;;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  margin: 0% 40%;
  cursor: pointer;
}
.pl{
  display: flex;
  justify-content: center;
  margin-top: 4em;
}
 .btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: #0f273e;;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  /* margin: 0% 40%; */
  cursor: pointer;
}

#portfolio{
  background-color: #f5f5f5;
  height: 1300px;
}

.portfolio h1{
  background-color: lightgray;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  text-align: center;
}
.portfolio p{
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
}
.cards{
  float: left;
  width: 448px;
  height :510px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 5px 5px #0f273e;;
  margin:30px 50px 30px 30px ;
  background-color: white;
  text-align: center;
  line-height: 30px;
  transition:0.5s
}
.cards >.btn{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: #0f273e;;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;

}
.cards:hover{
  box-shadow: 0px 8px 8px #0f273e;;
  opacity: 0.8;
  cursor: pointer;
}

#last{
  margin-left: 22vh;
  margin-top: 20px;
}
.cards-main{
  margin-left: 18vh;
}


#about{
  clear: left;
  background-color: #f5f5f5;
  height:1000px;
  width: 100%;
}
.about-me{
  /* float: left; */
 align-items: center;
}

.about-me h1{
  background-color: lightgray;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  text-align: center;
}
.about-me img{
  /* display: flex; */
  margin-top: 10vh;
  margin-left: 20vh;
  border-radius: 10px;
  /* justify-content: center; */
}
.about-me img:hover{
opacity: 0.8;
cursor: pointer;
}
.about-me p{
  float: right;
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  margin-top: 10vh;
  margin-right: 50vh;
}
#contact{
  clear: right;
  background-color: #f5f5f5;
  height: 100vh;
  width: 100%;
}
.contact h1{
  background-color: lightgray;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  text-align: center;
}
.contact p{
  margin: 3% 0% 0% 30%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  align-items: center;
}

.contact-form{
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  box-sizing: border-box;
  border-radius: 5px;
  height: 55vh;
  width: 60vh !important;
  background-color: white;
  margin: 5% 35%;
}
input{
  padding: 15px 150px 20px 5px;
  border-radius: 5px;
  margin: 10px 20px ;
  box-sizing: border-box;
  background-color: white;
}
label{
  margin: 20px;
}
textarea{
  padding: 0px 260px 100px 5px;
  border-radius: 5px;
  margin: 20px;
  box-sizing: border-box;
}
/* #submit{ */
  /* position: absolute; */
  /* margin-top: 20%; */
/* } */
.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: #1d548b;
  border-radius: 10px;
  color: white;
  bottom: 30vh;
  right: 5vh;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
}
footer{
background-color: #1a3f63;
height: 20vh;
text-align: center;
}
footer .icons img{
  margin-top: 10vh;
  margin: 30px 10px 30px;
}
footer .footnote {
  color: white;
  margin-bottom: 0px;
}








